<header>
    <h2 mat-dialog-title>{{ getDetailPokemon()?.nome }}</h2>
    <button (click)="closeModal()">
      <img src="../../../assets/icons/dialog/close.svg" alt="Botão para fechar dialog" />
    </button>
  </header>

  <mat-dialog-content>
    <nav>
      <img [src]="getDetailPokemon()?.imagem" />
      <div class="modal-details">
        HP:{{getDetailPokemon()?.hp}}
        <br />
        Attack:{{getDetailPokemon()?.attack}}
        <br />
        Defense:{{getDetailPokemon()?.defense}}
        <br />
        Speed:{{getDetailPokemon()?.speed}}
        <br />
        Weight:{{getDetailPokemon()?.weight}}
        <br />
        Special Attack:{{getDetailPokemon()?.special_attack}}
        <br />
        Special Defense:{{getDetailPokemon()?.special_defense}}
        <br />
      </div>
      
    </nav>
  </mat-dialog-content>
  