<header>
    <!-- <h2 mat-dialog-title>{{ upperFirstLetter(getDetailPokemon()?.nome) }}</h2> -->
    <button (click)="closeModal()">
      <img src="../../../assets/icons/dialog/close.svg" alt="Botão para fechar dialog" />
    </button>
  </header>

  <mat-dialog-content>
    <nav>
      <div class="modal-details-container">
      <h2 class="title-detail">{{ upperFirstLetter(getDetailPokemon()?.nome) }}</h2>
        <img class="imagem-detail" [src]="getDetailPokemon()?.imagem" />
      </div>
        <div class="modal-details">
          HP:{{getDetailPokemon()?.hp}}
          <br />
          Attack:{{getDetailPokemon()?.attack}}
          <br />
          Defense:{{getDetailPokemon()?.defense}}
          <br />
          Speed:{{getDetailPokemon()?.speed}}
          <br />
          Weight:{{getDetailPokemon()?.weight}}
          <br />
          <br />
          Special Attack:{{getDetailPokemon()?.special_attack}}
          <br />
          Special Defense:{{getDetailPokemon()?.special_defense}}
          <br />
        </div>
    </nav>
  </mat-dialog-content>
  