.btn{
    margin: 0;
    border-radius: 5px;
    background-color: #6687EB;
    cursor:pointer;
    width: 10%;
    // width: auto;
    height: 25px;
    max-height: max-content;
    color: var(--white-010);
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: 12px;
    left: 85%;
    z-index: 3;
    justify-content: center;
    align-items: center;
    top: 5px;

    &:active{
        background-color: #859feb;
    }

    &:disabled {
        cursor: not-allowed; /* Define o cursor para not-allowed quando o botão estiver desativado */
        pointer-events: none; /* Impede que o botão desativado responda a eventos do mouse */
        flex-direction: column;
        word-wrap: break-word;
      }
}
